<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <DisableAppDomain>true</DisableAppDomain> 
    <MaxParallelThreads>1</MaxParallelThreads>
  </RunConfiguration>
  
  <TestRunParameters>
    <Parameter name="WebProjectPath" value="LearningEF.Api" />
  </TestRunParameters>
</RunSettings>